<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <div class="top">
            <div id="symbol"><i class="fa-solid fa-file-invoice-dollar"></i></div>
            <div id="title">title</div>
            <div id="help">help</div>
        </div>
        <div class="main"><h1>Payments main page</h1></div>
        <div class="bottom">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>