<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="top">
        <div id="symbol"><i class="fa-solid fa-file-invoice-dollar"></i></div>
        <div id="title">title</div>
        <div id="help">help</div>
    </div>
    <div class="emp">
        <h1>Login page for Employer</h1>
        <form method="post" action="/home">
            <button>sign in</button>
        </form>
        <form method="post" action="/new">
            <button>sign up</button>
        </form>

    </div>
    <div class="free">
        <h1>Login page for Freelancer</h1>
        <form method="post" action="/home">
            <button>sign in</button>
        </form>
        <form method="post" action="/new">
            <button>sign up</button>
        </form>
    </div>
</body>
</html>